*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw;
}
.leftApp{
    width: 40vw;
    height: 90vh;
    flex-direction: column;
    padding: 1em;
}
.msgCon{
    width: 30vw;
    height: 10vh;
    gap: 1vw;
}
.msgCon input{
    height: 40px;
    width: 20vw;
    border-radius: 5px;
    /* font-weight: bold; */
}
.msgCon button{
    background-color: rgb(12, 6, 1);
    padding: 5px 5px;
    border-radius:5px ;
    cursor: pointer;
    color: aqua;
    border: 2px solid aqua;
    /* font-weight: bold; */
}
.readMsgCon{
    width: 30vw;
    height: 75vh;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px 5px rgb(155, 112, 57) inset;
    flex-direction: column;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
}
.readMsgCon .msgChildCon{
    height: 40px;
    width: 20vw;
    border-radius: 5px;
    background-color: black;
    display: flex;
    align-items: center;
    margin-left: 6em;
    margin-bottom:1em;
}
.rightApp{
    width: 40vw;
    height: 90vh;
    flex-direction: column;
    padding: 1em;
}